body {
    background-color: black;
    color: white;
}

.area-border {
    border: 2px solid pink;
}

.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 20% 3.8fr 13fr 11.7% 20%; 
    grid-template-rows: 5.2% 76.7% 4.3% 4.5% 4% 2.5fr 0.2fr; 
    gap: 2% 3%;      
    grid-template-areas: 
    "header . nav nav ."
    "image1 image1 image1 image1 image1"
    ". date date date ."
    ". image2 tickets buttons ."; 
}
.header{
    grid-area: header;
    display: flex;
    justify-content: center;
}

.nav {
    grid-area: nav; 
}

.navlinks {
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    .image1 { 
    grid-area: image1;
    align-self: center;
    width: 100%;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;;
}

.date {
    grid-area: date;
}

.tickets { 
    grid-area: tickets; 
}

.image2 {
    grid-area: image2;
}

.image2-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info-container {
    height: 100%;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

.buttons {
    grid-area: buttons;
}

.button {
    display: flex;
    justify-content: center;
    align-content: center;
}

